#headShot{
	width: 33%;
	padding: 10px;
}

h1,h2,h3 {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-weight: 700;
	color: #4aaaa5;
  }

.navbar-default .navbar-brand  {
    background-color: #4aaaa5;
    color:white;
}

.panel-title{
	color: #4aaaa5;
}

.panel-heading{
	background-color: white;
}

#main_content{
	background-color: blue;
}

body{
	background-image:url("../images/white_wall_hash.png");
}